{
  "presets": [
    ["@babel/preset-typescript"],
    ["@babel/preset-env", {
      "loose": true,
      "useBuiltIns": false,
      "targets": {
        "node": "current"
      }
    }]
  ],
  "plugins": [
    "@babel/plugin-syntax-bigint",
    "@babel/plugin-proposal-class-properties"
  ]
}